.container2 {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  table {
    width: 100%;
    /* border-collapse: collapse; */
    border: 2px solid;
  }
  
  th, td {
    border: 2px solid black;
    padding: 8px;
  }
  
  th {
    background-color: #f2f2f2;
    text-align: left;
  }
  